SphinxQueryGenerator/bin/
SphinxQueryGenerator/obj/
packages/
.vs/
SphinxQueryGenerator.Test/bin/
SphinxQueryGenerator.Test/obj/
SphinxQueryGenerator/Properties/PublishProfiles/Release.pubxml.user
TestResults