PeopleInfo/Localization/
PeopleInfo/bin/
PeopleInfo/obj/
PeopleInfo/Content/
packages/
.vs/
PeopleInfo.Data/bin/
PeopleInfo.Data/obj/
/.idea
node_modules
bower_components
ProfileFotoToLuna/ProfileFotoToLuna/bin/
ProfileFotoToLuna/ProfileFotoToLuna/obj/Debug/ProfileFotoToLuna.csproj.FileListAbsolute.txt
ProfileFotoToLuna/ProfileFotoToLuna/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProfileFotoToLuna/ProfileFotoToLuna/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProfileFotoToLuna/ProfileFotoToLuna/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/PeopleInfo/PeopleInfo.csproj.user
ProfileFotoToLuna/ProfileFotoToLuna/obj/
PeopleInfo/Properties/PublishProfiles/Release.pubxml.user
